/* https://www.w3schools.com/howto/howto_css_loader.asp */

.w3-loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: w3-spin 2s linear infinite;
}

.w3-loader.w3-loader-tiny {
    border-width: 3px;
    width: 12px;
    height: 12px;
    animation: w3-spin .75s linear infinite;
    display: inline-block;
}

button .w3-loader.w3-loader-tiny {
    margin: 1px 2px -3px -8px;
}

@keyframes w3-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/** Customized Display/Hide **/
.conversion-progress-loader.inactive .w3-loader {
    display: none;
}

#image-output .w3-loader {
    margin: 124px;
    display: none;
}

#image-output.loading .w3-loader {
    display: block;
}